
<div class="container">
  <div class="paddlerList">
    <h2 id="title">All Paddlers</h2>
    <ul class="paddler">
      <li *ngFor="let paddler of paddlers" 
        [class.selected]="paddler === selectedPaddler" 
        (mouseenter)="onMouseEnter(paddler)"
        (click)="onSelect(paddler)">
        <span class="badge">{{paddler.id}}</span> {{paddler.name}}
      </li>
    </ul>
  </div>
  
  <app-paddler-detail [paddler]="selectedPaddler" class="details"></app-paddler-detail>
  <app-boats [paddlers]="selectedPaddlers" class="boats"></app-boats>
</div>