
<div class="container">
  <div class="paddlerList">
    <h2 id="title">All Paddlers</h2>
    <div id="selectAllDiv">
        <button (click)="onSelectAll()">Add all to roster</button>
    </div>
    <ul class="paddler">
      <li *ngFor="let paddler of paddlers, let i = index" 
        [class.selected]="paddler === selectedPaddler" 
        (mouseenter)="onMouseEnter(paddler)"
        (click)="onSelect(paddler)">
        <span class="badge">{{i+1}}</span> {{paddler.name}}
      </li>
    </ul>
  </div>
  
  <app-paddler-detail [paddler]="selectedPaddler" class="details"></app-paddler-detail>
  <app-boats [(paddlers)]="selectedPaddlers" id="selectedRoster"></app-boats>
</div>